@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>The Equine Closet</h3>
<p>Your place for new and used Western Tack and all your stable needs.</p>

<p>It was literally a closet. Or rather, a container in a closet that held the entire contents of The Equine Closet's inventory when it began. With little to lose and much to gain, The Equine Closet started out with humble beginnings, but is proud to have become a leading nationwide equine product supplier in nine short years.
Throughout those nine years, The Equine Closet has changed much in regards to the amount of products it offers and happy customers it serves. But what hasn't changed is its loyalty to "closet-sized" service. That is, service that will go the extra mile for each and every customer, service that ensures that its products are ones that its owners would gladly use on their own horse, and service that stays "closet-sized" no matter how many happy closet-customers it has.
</p>

<p>We welcome your comments and questions! Please feel free to call, text or email us at: 330-231-2574 or anna@equinecloset.com</p>