@{
    ViewBag.Title = "Home";
}




<div class="row">

</div>

@section scripts{
    <script>
        // only want to show this on the home page
        $(function () {
            $(".body-content").tubular({
                videoId: "OapMBWNgTzU",
                wrapperZIndex: 100
            });
        });
    </script>
}